<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />



<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    tools:targetApi="31">
    <activity
        android:name=".register"
        android:exported="false" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBZVLk1TtCXoMO9XSCM1klRl_PL_75s-OU" />

    <activity
        android:name=".breadActivity"
        android:exported="false" />
    <activity
        android:name=".MapActivity"
        android:exported="false" />
    <activity
        android:name=".meatActivity"
        android:exported="false" />
    <activity
        android:name=".snakActivity"
        android:exported="false" />
    <activity
        android:name=".drinkActivity"
        android:exported="false" />
    <activity
        android:name=".milkActivity"
        android:exported="false" />
    <activity
        android:name=".sweetActivity"
        android:exported="false" />
    <activity
        android:name=".go"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="false" />
    <activity
        android:name=".loginmain"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/plain" />
        </intent-filter>
    </activity>
    <activity
        android:name=".first"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


</application>

</manifest>


